<!-- index.html -->
<!doctype html>

<html ng-app="quxQuestions">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Qux</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <script src="core.js"></script>

</head>

<body ng-controller="quizzController">
    <div class="container">

        <header>
            <h1>Qux</h1>
            <div ng-show="status == 1" class="alert alert-success" role="alert">
                <strong>Success!</strong>
            </div>
            <div ng-show="status == 0" class="alert alert-danger" role="alert">
                <strong>Oh no!</strong> Please try again.
            </div>
        </header>

        <aside>
            <header>User</header>
            <p>Score: {{score}}</p>
        </aside>

        <div class="row">

            <section id="question" class="col-lg-12">
                <article>
                    <header>
                        <h2><em>{{ question.text }}</em></h2>
                    </header>
                </article>
                <hr>
            </section>

            <section id="answer-form" class="col-lg-12">

                <header>
                    <h3>Answer</h3>
                    <p><em>Use the checkbox to indicate what answer(s) is the correct one.</em></p>
                </header>

                <hr>

                <div class="col-sm-12 col-sm-offset-2 text-center">
                    <form>

                        <div ng-repeat="choice in question.answers.choices">
                            <p>
                                <input type="checkbox" name="choice-{{$index}}" value="{{$index}}" ng-model="formData.answers[$index]">
                                {{ choice }}
                            <p>
                        </div>

                        <button type="submit" class="btn btn-primary btn-sm" ng-click="validateAnswer()"><i class="fa fa-check-square-o" aria-hidden="true"></i> Submit answer</button>

                    </form>
                </div>
            </section>

        </div>

    </div>

</body>
</html>